BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Preserve
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
DerivePointerAlignment: false
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
SpacesInAngles: false
